<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory=".phpunit.cache"
         colors="true"
         columns="100"
         diffContext="7"
         displayDetailsOnAllIssues="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnPhpunitNotices="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnAllIssues="true"
         recordTestRunHistory="false"
         requireCoverageMetadata="false"
         reverseDefectList="true"
         shortenArraysForExportThreshold="0"
         testdox="false"
         testdoxSummary="false"
>
    <coverage>
        <report>
            <html outputDirectory="build/phpunit"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="ctw/ctw-middleware-pagecache">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="date.timezone" value="UTC"/>
        <ini name="intl.default_locale" value="en_US"/>
    </php>
    <logging/>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
